* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:inherit;
	font-weight: inherit;
	list-style: none;
	text-decoration: none;
	color: inherit;
}

:root {
	--white-003: rgb(255, 255, 255, .03);
	--white-005: rgb(255, 255, 255, .05);
	--white: #fff;
	--black-1000: #090909;
}

html {
	height: 100%;
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	font-size: 1rem;
	font-weight: 400;
	height: 100%;
	color: var(--white);
	background: var(--black-1000);
}